body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(199, 199, 199);
    box-shadow: 10px 10px 10px;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .card {
    background-color: #4CAF50;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    position: relative;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
  }
  
  .card.flipped img {
    visibility: visible;
  }

  #score {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(0, 26, 255);
    box-shadow: 10px 10px 10px;
  }
  
  #winMessage {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
    background-color: green;
    box-shadow: 10px 10px 10px;
  }
  